<div class="card-header">
    <h2>Titulo</h2>
    <div class="buttons">
        <div>
            <span class="material-symbols-outlined">
                favorite
            </span>
            0
        </div>

        <div>
            <span class="material-symbols-outlined">
                close
            </span>
            0
        </div>

        <div class="notification_icon">
            <span class="material-symbols-outlined">
                notification_audio
            </span>
        </div>
    </div>
</div>
<div class="card-content">
    <div>
        <img class="card-img" src="" alt="">
        <span>Time</span>
    </div>
    <div>
        <h1>Player Name</h1>
        <span class="position">Player Position</span>
        <span class="material-symbols-outlined arrow">
            arrow_circle_right
        </span>
    </div>
    <div>
        <img class="card-img" src="" alt="">
        <span>Time</span>
    </div>
</div>
<div class="card-footer">
    <span>Texto</span>
</div>