@use 'variables' as vars;

footer {
    border-top: 1px solid vars.$gray;
}

.main-footer {
    max-width: 1200px;
    margin: 0px auto;

    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid vars.$gray;
    padding-bottom: 3rem;

    .main-footer-item {
        padding-right: 3rem;
    }

    h2 {
        color: vars.$white;
        font-size: .8rem;
        padding-top: 1.3rem;
        padding-bottom: .8rem;
    }

    span {
        font-size: .8rem;
        color: vars.$gray;
        font-weight: 200;
    }

    p {
        font-size: .8rem;
        color: vars.$gray;
        font-weight: 200;
    }

    .span-date {
        font-weight: 600;
    }

    .transfer {
        display: flex;
        align-items: center;
        padding-bottom: .8rem;

        img {
            width: 16px;
            height: 16px;
            padding-right: .2rem;
        }

        p {
            margin: 0;
        }
    }

    .tranfer-tag {
        background-color: vars.$blue;
        padding: .3rem;
        border-radius: .8rem;
        margin-bottom: 10rem;
        color: vars.$white;
    }

    .social-icons {
        display: flex;
        justify-content: flex-start;

        svg {
            width: 24px;
            height: 24px;
            padding-right: 1rem;
        }
    }
}

.aditional-footer {
    max-width: 1200px;
    margin: 0px auto;

    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    color: vars.$gray;
    font-size: .7rem;

    .bold-text {
        font-weight: 600;
        
        a {
            padding-left: 1.5rem;
            color: vars.$gray;
            text-decoration: underline;
        }
    }
}

@media (max-width: 768px) {
    .main-footer {
        flex-direction: column;
        padding: 2rem 1.5rem;
        
        .main-footer-item {
            padding-right: 0;
            margin-bottom: 1.5rem;
        }

        .tranfer-tag {
            display: inline-block;
            margin-bottom: 2rem;
        }
    }

    .aditional-footer {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
        padding: 1.5rem;

        .bold-text a {
            display: block;
            padding-left: 0;
            margin-top: 0.5rem;
        }
    }
}