<section id="player-list" class="s-player-list">
    <div class="player-list-title">
        <h1>Lista de Jogadores</h1>
    </div>
    <div class="player-list">
        <div class="season">2026/1</div>
        <div class="duration">
            <img src="assets/svgs/calendar.svg" alt="calendar_icon">
            <span>Abre 05/01/2026, fecha 03/03/2026</span>
        </div>
        <div class="tabs">
            <button class="active">Transferências</button>
            <button>Listas</button>
            <button>Dados</button>
        </div>
        <app-transfer-list />
    </div>
</section>
