$light_red: #d71920;
$red: #b11116;
$dark_red: #8b0304;
$brown: #490000;
$black: #000000;
$dark_gray: #48535a;
$gray: #8a9297;
$light_black: #1a1d1f;
$light_black_2: #212527;
$dark_blue: #002659;
$blue: #005496;
$yellow: #ffdd00;
$white: #ffffff;