<header>
    <div class="header-left">
        <img class="logo" src="assets\images\logo_without_stars.png" alt="logo">
        <h3><span>tricolor</span>sonda.com <div> | </div> <p class="description"> Acompanhe o mercado de transferências do nosso tricolor! </p></h3>
    </div>
    <div class="header-rigth">
        <button>APOIE</button>
        <div class="notification">
            <img src="assets\svgs\notification.svg" alt="notification_icon">
            <span>Receber Notificações</span>
        </div>
    </div>
</header>