@use 'variables' as vars;

header {
    background-color: vars.$black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
    padding-left: 15rem;

    .logo {
        height: 50px;
        width: 60px;
        padding-right: 1rem;
        cursor: pointer;
    }

    h3 {
        display: flex;
        align-items: center;
        font-weight: 900;
        font-size: 1rem;
        color: vars.$white;
        cursor: pointer;

        div {
            padding: 0rem 1rem;
            cursor: default;
        }

        .description {
            font-weight: 300;
            font-size: .8rem;
            color: vars.$gray;
            cursor: default;
        }

        span {
            font-weight: 900;
            color: vars.$red;
        }
    }
}

.header-rigth {
    display: flex;
    align-items: center;
    color: vars.$white;
    padding-right: 15rem;

    button {
        border: 2px solid vars.$dark_red;
        border-radius: .3rem;
        padding: .4rem .8rem;
        background-color: vars.$light_black;
        font-size: small;
        font-weight: 800;
        color: vars.$white;
        cursor: pointer;
    }

    .notification {
        display: flex;
        align-items: center;
        margin-left: 1rem;
        padding: .4rem .8rem;
        font-size: small;
        font-weight: 800;
        color: vars.$white;
        background-color: vars.$light_black;
        border: 1px solid vars.$brown;
        border-radius: .3rem;
        cursor: pointer;

        img {
            width: 1rem;
            height: 1rem;
            padding-right: .3rem;
        }
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 1rem;
    }

    .header-left {
        padding-left: 0;
        flex-direction: column;
        text-align: center;

        h3 {
            flex-direction: column;

            div { 
                display: none; 
            }

            .description {
                 padding: 0 1rem; 
            }
        }
    }

    .header-rigth {
        padding-right: 0;
        width: 100%;
        justify-content: center;
    }
}